div#container
div#main
  div#left
    p Controls here
  div#right
    div#top
      div#display
    div#bottom
      p Bottom
<script data-main="javascripts/main" src="javascripts/vendor/require.js"></script>
