table#container
  tr
    td(rowspan=2)#left
      div#controls
      input#step(type='button', value='Step')
    td#display
  tr
    td#bottom
    
<script data-main="javascripts/main" src="javascripts/vendor/require.js"></script>
