div#header
  span(data-module='ChainedHashTable') Chained hash table
  span(data-module='Graph') Graphs
table#container
  tr
    td(rowspan=2)#left
      div#controls
      input#step(type='button')
      div#hu(onclick='require(["app/common/i18n"], function(i18n) { i18n.setLanguage("hu"); })')
      div#en(onclick='require(["app/common/i18n"], function(i18n) { i18n.setLanguage("en"); })')
    td#display
  tr
    td#bottom
    
<script data-main="javascripts/main" src="javascripts/vendor/require.js"></script>
