!!!
html
  head
    title QUnit Test Suite
    link(rel='stylesheet', href='stylesheets/qunit.css', type='text/css', media='screen')
  body
    h1#qunit-header QUnit Test Suite
    h2#qunit-banner
    div#qunit-testrunner-toolbar
    h2#qunit-userAgent
    ol#qunit-tests
    div#testpaper(style='width:1000px;height:1000px;')
    <script data-main="javascripts/test" src="javascripts/vendor/require.js"></script>





