body {
  color: #222;
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#container {
  width: 100%;
  height: 100%;
}
#left {
  width: 150px;
  vertical-align: top;
}
#bottom {
  height: 100px;
}
