.App {
}

.pseudocode {
    white-space: pre;
    font-family: monospace;
    font-size: 1.2em;
    color: #222;
}

.pseudocode .Var {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    cursor: zoom-in;
}

.pseudocode .comment {
    color: gray;
}

.pseudocode .current-step {
    color: black;
    font-weight: bold;
}

.Inspector {
    margin: 20px;
    border: 1px solid silver;
}
