.BinarySearch {
    display: grid;
    grid-template:
            "desc         desc        desc    " auto
            "controls     numbers     inspector" auto
            "controls     pseudocode  inspector" auto
            / min-content min-content 1fr;
    grid-gap: 20px;
}

.BinarySearch .description {
    grid-area: desc;
    padding: 20px;
    background-color: #eaeaea;
    box-shadow: 2px 2px 5px 2px darkgray;
    margin-bottom: 25px;
}

.BinarySearch .numbers {
    grid-area: numbers;
    display: flex;
    flex-flow: row wrap;
}

.BinarySearch .numbers .number {
    position: relative;
    font-family: 'Inconsolata', monospace;
}

.BinarySearch .numbers .number-delete {
    padding: 0;
    background-color: red;
    cursor: pointer;
    width: 7px;
    height: 7px;
    right: 0;
    top: 0;
    position: absolute;
}

.BinarySearch .Inspector {
    grid-area: inspector;
}

.BinarySearch .Pseudocode {
    grid-area: pseudocode;
}

.BinarySearch .numbers .number {
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    max-height: 22px;
}

.BinarySearch .low {
    background-color: lightblue;
}

.BinarySearch .high {
    background-color: lightgreen;
}

.BinarySearch .mid {
    background-color: yellow;
}
