.BinarySearch {
    display: grid;
    grid-template: "desc         desc     desc    " auto
                   "controls  numbers    inspector" auto
                   "controls  pseudocode inspector" auto
                   / minmax(120px, 15%) min-content auto;
    grid-gap: 20px;
}

.BinarySearch .description {
    grid-area: desc;
    padding: 20px;
    background-color: #eaeaea;
    box-shadow: 2px 2px 5px 2px darkgray;
    margin-bottom: 25px;
}

.BinarySearch .numbers {
    grid-area: numbers;
    display: flex;
    flex-flow: row wrap;
}

.BinarySearch .controls {
    grid-area: controls;

    padding: 15px;
    border: 1px solid silver;
    background-color: #f5f5f5;
}

.BinarySearch .controls-grid {
    display: grid;
    grid-template: "label        target" auto
                   "start         start" 40px
                   "step           step" 40px
                   / 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
}

.BinarySearch .controls .target-label {
    grid-area: label;
}

.BinarySearch .controls .target {
    grid-area: target;
}

.BinarySearch .controls .start {
    grid-area: start;
}

.BinarySearch .controls .step {
    grid-area: step;
}

.BinarySearch .Inspector {
    grid-area: inspector;
}

.BinarySearch .Pseudocode {
    grid-area: pseudocode;
}

.BinarySearch .numbers .number {
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    max-height: 20px;
}

.BinarySearch .low {
    background-color: lightblue;
}

.BinarySearch .high {
    background-color: lightgreen;
}

.BinarySearch .mid {
    background-color: yellow;
}
