.Inspector table {
    border-collapse: collapse;
}

.Inspector table thead th {
    background-color: #ddd;
    border: 2px solid black;
    padding: 5px;
}

.Inspector table tbody td {
    font-family: monospace;
    font-size: 1.2em;
    border: 1px solid silver;
    padding: 3px;
}

.Inspector table tbody td:first-child {
    text-align: right;
    border-right: none;
}

.Inspector table tbody td:first-child:after {
    content: ":";
}

.Inspector table tbody td:last-child {
    border-left: none;
}

.Inspector table tbody tr.highlighted {
    background-color: #eee;
}
