.LinearSearch {
    display: grid;
    grid-template:
            "desc         desc        desc    " auto
            "controls     numbers     inspector" auto
            "controls     pseudocode  inspector" auto
            / min-content min-content 1fr;
    grid-gap: 20px;
}

.LinearSearch .description {
    grid-area: desc;
    padding: 20px;
    background-color: #eaeaea;
    box-shadow: 2px 2px 5px 2px darkgray;
    margin-bottom: 25px;
}

.LinearSearch .Inspector {
    grid-area: inspector;
}

.LinearSearch .Pseudocode {
    grid-area: pseudocode;
}

.LinearSearch .i {
    background-color: lightgreen;
}
