.Pseudocode {
    white-space: pre;
    font-family: 'Inconsolata', monospace;
    color: #222;
    background-color: #f3f3f3;
    padding: 15px;
    border: 1px dashed #f88;
    border-radius: 5px;
}
