.SearchControls {
    grid-area: controls;
    padding: 15px;
    border: 1px solid silver;
    background-color: #f5f5f5;
}

.SearchControls input {
    height: 20px;
}

.SearchControls label {
    text-align: right;
}

.SearchControls .controls-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 10px;
    margin-top: 20px;
    align-items: center;
}

.SearchControls .controls-grid .start,
.SearchControls .controls-grid .step {
    grid-column: 1 / -1;
}

