h1#chained-hash-table
label
  span#list-implementation
  select#list-implementation-select
    option(value='UnorderedList')#unordered-list
    option(value='OrderedList')#ordered-list
    option(value='ReversedList')#reverse-ordered-list
br
label
  span#hash-function
  select#hash-function-select
    option(value='identity')#identityIdentity (x -> x)
    option(value='xmod10') x -> x mod 10

fieldset
  legend#add-item
  label
    span#key
    input#add-key(value="5")
  label
    span#value
    input#add-value(value='foo')
  input#add-button(type='button')

dev#status