h1#graph(class='i18n-simple')
fieldset
  legend#edit-graph(class='i18n-simple')
  label#create-node-label
    input(type='radio', name='graph-action', value='createNode')
    span#create-node(class='i18n-simple')
  br
  label#remove-node-label
    input(type='radio', name='graph-action', value='removeNode')
    span#remove-node(class='i18n-simple')
  br
  label#move-node-label
    input(type='radio', name='graph-action', value='moveNode')
    span#move-node(class='i18n-simple')
  br
  label#create-edge-label
    input(type='radio', name='graph-action', value='createEdge')
    span#create-edge(class='i18n-simple')
  br
  label#remove-edge-label
    input(type='radio', name='graph-action', value='removeEdge')
    span#remove-edge(class='i18n-simple')

fieldset
 legend#algorithms(class='i18n-simple')
 label#dijkstra
  input(type='button', class='algorithm', value="Dijkstra")