h1#graph(class='i18n-simple')
label#create-node-label
  input(type='radio', name='graph-action', value='createNode')
  span#create-node(class='i18n-simple')
br
label#remove-node-label
  input(type='radio', name='graph-action', value='removeNode')
  span#remove-node(class='i18n-simple')
br
label#move-node-label
  input(type='radio', name='graph-action', value='moveNode')
  span#move-node(class='i18n-simple')
